{% extends 'parentindex.html' %}
{% block content %}
<!--NOTICE START-->
<div id="wp" class="wp">
	<div id="ct" class="wp cl w">
		<div class="nfl">
			<div class="f_c altw">
				<div id="messagetext" class="{$style}">
                 {% if len!=0 %}
                    {% for l in range(len) %}
				<p>{{li[l] }}{% endfor %}
                    ，请稍候…… <br />
				<script type="text/javascript" reload="1">setTimeout(function(){window.location.href='{{ url_for('bbs.zhuce') }}'}, 5000);</script></p>
				<p class="alert_btnleft"><a href="{{ url_for('bbs.zhuce') }}">如果你的浏览器没有自动跳转，请点击此链接</a></p>
                {% else %}
                     <p>注册成功即将返回首页 <br />
				<script type="text/javascript" reload="1">setTimeout(function(){window.location.href='{{ url_for('bbs.index') }}'}, 5000);</script></p>
				<p class="alert_btnleft"><a href="{{ url_for('bbs.index') }}">如果你的浏览器没有自动跳转，请点击此链接</a></p>
                {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<!--NOTICE END-->
{% endblock content %}