{% extends 'parentindex.html' %}
{% block sousuo %}

                <div id="nv">
                    <ul>
                        <li class="a" id="mn_forum"><a href="/" hidefocus="true"
                                                       title="10分钟学院">首页</a><span>10分钟学院</span></li>

                        {% for dbk in allBk %}
                            <li id="mn_home"><a href="{{ url_for('bbs.index', cid=dbk.cid) }}" hidefocus="true"
                                                title="{{ dbk.classname }}">{{ dbk.classname }}</a></li>

                        {% endfor %}

                    </ul>
                </div>
    {% endblock sousuo %}
{% block content %}
<!--NOTICE START-->
<div id="wp" class="wp">
	<div id="ct" class="wp cl w">
		<div class="nfl">
			<div class="f_c altw">
				<div id="messagetext" class="{$style}">
                    {% for l in range(len) %}
				<p>{{li[l] }}{% endfor %}
                    ，请稍候…… <br />
				<script type="text/javascript" reload="1">setTimeout(function(){window.location.href='{{ url_for('bbs.sset',ss='anquan') }}'}, 5000);</script></p>
				<p class="alert_btnleft"><a href="{{ url_for('bbs.sset',ss='anquan') }}">如果你的浏览器没有自动跳转，请点击此链接</a></p>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
<!--NOTICE END-->