<div id="wp" class="wp">
	<div id="pt" class="bm cl">
			<div class="z">
			<a href="./" class="nvhm" title="内核源码 - 10分钟学院">内核源码 - 10分钟学院</a><em>&raquo;</em><a href="index.php">论坛</a><em>&raquo;</em><a href="index.php?bigid=1">PHP技术交流</a><em>&raquo;</em><a href="list.php?classid=5">内核源码</a>
			</div>
	</div>
	<div class="boardnav">
		<div id="ct" class="wp cl" style="margin-left:145px">
			<div id="sd_bdl" class="bdl" style="width:130px;margin-left:-145px">
				<div class="tbn" id="forumleftside"><h2 class="bdl_h">版块导航</h2>
										<dl class="a" id="lf_1">
						<dt><a href="javascript:;" title="PHP技术交流">PHP技术交流</a></dt>
																		<dd class="bdl_a">
						<a href="list.php?classid=5" title="内核源码">内核源码</a>
						</dd>
																																				<dd >
						<a href="list.php?classid=3" title="PHP框架">PHP框架</a>
						</dd>
																																				<dd >
						<a href="list.php?classid=4" title="开源产品">开源产品</a>
						</dd>
																																				<dd >
						<a href="list.php?classid=6" title="进阶讨论">进阶讨论</a>
						</dd>
																	</dl>
										<dl class="a" id="lf_2">
						<dt><a href="javascript:;" title="程序人生">程序人生</a></dt>
																														<dd >
						<a href="list.php?classid=9" title="求职招聘">求职招聘</a>
						</dd>
																																				<dd >
						<a href="list.php?classid=8" title="经验分享">经验分享</a>
						</dd>
																																				<dd >
						<a href="list.php?classid=7" title="名人故事">名人故事</a>
						</dd>
																													</dl>
										<dl class="a" id="lf_10">
						<dt><a href="javascript:;" title=""></a></dt>
																																																																																															</dl>
									</div>
			</div>
			
			<div class="mn">
			
				<div class="bm bml pbn">
					<div class="bm_h cl">
					<h1 class="xs2">
					<a href="list.php?classid=5">内核源码</a>
					<span class="xs1 xw0 i">今日: <strong class="xi1">2</strong><span class="pipe">|</span>主题: <strong class="xi1">17</strong></span></h1>
					</div>
										<div class="bm_c cl pbn">
						
						<div>
							版主: <span class="xi2">test001</span>
						</div>
						
					</div>
									</div>
				
				<div id="pgt" class="bm bw0 pgs cl">
				<span class="pgb y"  ><a href="index.php">返&nbsp;回</a></span>
				<a href="addc.php?classid=5" id="newspecial" title="发新帖"><img src="/public/images/pn_post.png" alt="发新帖" /></a></div>
				
				<div id="threadlist" class="tl bm bmw">
				<div class="th">
				<table cellspacing="0" cellpadding="0">
				<tr>
				<th colspan="2">
				<div class="tf">
				筛选:
				<a href="list.php?classid=5" class="xi2">全部</a><span class="pipe">|</span><a href="list.php?classid=5&elite=1" class="xi2">精华</a></div>
				</th>
				<td class="by">作者</td>
				<td class="num">回复/查看</td>
				<td class="by">最后发表</td>
				</tr>
				</table>
				</div>
				<div class="bm_c">
				<form method="post" autocomplete="off" name="moderate" id="moderate" action="">
				<table summary="forum_2" id="forum_2" cellspacing="0" cellpadding="0">
											<tr>
							<td class="icn">
							<a href="detail.php?id=9" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=9" class="xst"  style="color:red">本论坛超管的账号、密码都为admin</a>
							 							 							 <img src="/public/images/digest_1.gif" align="absmiddle" alt="digest" title="精华帖" />
							 							 							</th>
							<td class="by">
							<cite></cite>
							<em><span class="xi1">2015-10-08</span></em>
							</td>
							<td class="num"><a href="detail.php?id=9" class="xi2">4</a><em>227</em></td>
							<td class="by">
							<cite>abc</cite><em><span title="2019-06-12 21:28:17">1天前</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=8" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=8" class="xst"  style="color:red">关于php你可能不知道的－php的事件驱动化设计</a>
							 							 - [售价 <span class="xw1">10</span> 金钱]
							 							 							 <img src="/public/images/digest_1.gif" align="absmiddle" alt="digest" title="精华帖" />
							 							 							</th>
							<td class="by">
							<cite></cite>
							<em><span class="xi1">2015-10-08</span></em>
							</td>
							<td class="num"><a href="detail.php?id=8" class="xi2">1</a><em>65</em></td>
							<td class="by">
							<cite>admin</cite><em><span title="2019-06-05 12:01:34">2019-06-05 12:01:34</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=7" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=7" class="xst"  style="color:red">树操作算法，非递归方法</a>
							 							 - [售价 <span class="xw1">5</span> 金钱]
							 							 							 							</th>
							<td class="by">
							<cite></cite>
							<em><span class="xi1">2015-10-08</span></em>
							</td>
							<td class="num"><a href="detail.php?id=7" class="xi2">2</a><em>52</em></td>
							<td class="by">
							<cite>zh123</cite><em><span title="2019-06-14 17:55:22">2小时前</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=38" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=38" class="xst"  >123</a>
							 							 							 							</th>
							<td class="by">
							<cite>zh123</cite>
							<em><span class="xi1">2019-06-14</span></em>
							</td>
							<td class="num"><a href="detail.php?id=38" class="xi2">0</a><em>2</em></td>
							<td class="by">
							<cite>zh123</cite><em><span title="2019-06-14 17:56:31">2小时前</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=36" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=36" class="xst"  ></a>
							 							 							 							</th>
							<td class="by">
							<cite>嘻嘻嘻</cite>
							<em><span class="xi1">2019-06-14</span></em>
							</td>
							<td class="num"><a href="detail.php?id=36" class="xi2">0</a><em>4</em></td>
							<td class="by">
							<cite>嘻嘻嘻</cite><em><span title="2019-06-14 10:11:09">10小时前</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=33" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=33" class="xst"  ></a>
							 							 							 							</th>
							<td class="by">
							<cite>admin</cite>
							<em><span class="xi1">2019-06-12</span></em>
							</td>
							<td class="num"><a href="detail.php?id=33" class="xi2">0</a><em>3</em></td>
							<td class="by">
							<cite>admin</cite><em><span title="2019-06-12 21:19:05">1天前</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=32" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=32" class="xst"  >2131312313</a>
							 							 							 							</th>
							<td class="by">
							<cite>admin</cite>
							<em><span class="xi1">2019-06-12</span></em>
							</td>
							<td class="num"><a href="detail.php?id=32" class="xi2">0</a><em>6</em></td>
							<td class="by">
							<cite>admin</cite><em><span title="2019-06-12 19:31:16">2天前</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=31" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=31" class="xst"  >sfsdfsdfsd</a>
							 							 							 							</th>
							<td class="by">
							<cite>admin</cite>
							<em><span class="xi1">2019-06-11</span></em>
							</td>
							<td class="num"><a href="detail.php?id=31" class="xi2">0</a><em>53</em></td>
							<td class="by">
							<cite>admin</cite><em><span title="2019-06-11 11:17:37">2019-06-11 11:17:37</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=25" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=25" class="xst"  ></a>
							 							 							 							</th>
							<td class="by">
							<cite>admin</cite>
							<em><span class="xi1">2019-06-10</span></em>
							</td>
							<td class="num"><a href="detail.php?id=25" class="xi2">0</a><em>13</em></td>
							<td class="by">
							<cite>admin</cite><em><span title="2019-06-10 19:04:59">2019-06-10 19:04:59</span></em>							</td>
						</tr>
											<tr>
							<td class="icn">
							<a href="detail.php?id=24" title="新窗口打开" target="_blank"><img src="/public/images/folder_common.gif" /></a>
							</td>
							<th class="common">
							 <a href="detail.php?id=24" class="xst"  ></a>
							 							 							 							</th>
							<td class="by">
							<cite>lxn</cite>
							<em><span class="xi1">2019-06-10</span></em>
							</td>
							<td class="num"><a href="detail.php?id=24" class="xi2">0</a><em>35</em></td>
							<td class="by">
							<cite>lxn</cite><em><span title="2019-06-10 18:59:52">2019-06-10 18:59:52</span></em>							</td>
						</tr>
									</table>
				</form>
				</div>
				</div>
				
				<div class="bm bw0 pgs cl">
				<span  class="pgb y"><a href="index.php">返&nbsp;回</a></span>
				<a href="addc.php?classid=5" id="newspecialtmp" title="发新帖"><img src="/public/images/pn_post.png" alt="发新帖" /></a></div>
				<div style="width:800px; margin:0 auto; padding:10px 0px; text-align:right">
				&nbsp;&nbsp;<input type="text" onkeydown="javascript:if(event.keyCode==13){var page=(this.value>2)?2:this.value;location='/list.php?classid=5&page='+page+''}" value="1" style="width:25px"><input type="button" value="GO" onclick="javascript:var page=(this.previousSibling.value>2)?2:this.previousSibling.value;location='/list.php?classid=5&page='+page+''">&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;<a href='/list.php?classid=5&page=2'>下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href='/list.php?classid=5&page=2'>尾 页</a>&nbsp;&nbsp;&nbsp;&nbsp;共有<b>17</b>条记录&nbsp;&nbsp;&nbsp;&nbsp;每页显示<b>10</b>条，本页<b>1-10</b>条&nbsp;&nbsp;&nbsp;&nbsp;<b>1/2</b>页&nbsp;&nbsp;				</div>
			</div>
		</div>
	</div>
</div>
<!--LIST end-->